body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container,
#productList {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h1,
h2 {
  text-align: center;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
